.reset-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    padding: 2%;
    font-size: 25px;
}

.reset-button:hover {
    background-color: white;
    color: black;
    
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

h1{
    color: white;
    text-shadow: 2px 3px 1px black;

}